<h1>Parent Component</h1>
<div>
  <label>
    <input type="checkbox" [(ngModel)]="showStock" />
    Stock
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="showEmail" />
    Email
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="showTodo" />
    To-Do
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="showWeather" />
    Weather
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="showQuotes" />
    Quotes
  </label>

</div>
<div class="component-wrapper">
  <app-stock *ngIf="showStock"></app-stock>
  <app-email *ngIf="showEmail"></app-email>
  <app-todo *ngIf="showTodo"></app-todo>
  <app-weather *ngIf="showWeather"></app-weather>
  <app-quotes  *ngIf="showQuotes"></app-quotes>
</div>

