<div class="component-container">
  <h2>Weather</h2>
  <div *ngIf="city">
    <p><strong>City:</strong> {{ city }}</p>
    <div *ngIf="weatherData">
      <!-- Display weather data here -->
      <p><strong>Temperature:</strong> {{ weatherData.main.temp }}°C</p>
      <p><strong>Humidity:</strong> {{ weatherData.main.humidity }}%</p> 
      <p><strong>Weather:</strong> {{ weatherData.weather[0].description }}</p>
   </div>
  </div>
  <div *ngIf="!city">
    <p>Loading location...</p>
  </div>
</div>
